.body{
    background-color: #33CC66;

}

.body p, h3, h2{
    color: darkgoldenrod;
    font-size: 30px;
    font-weight: bold;

}

#sobre_h1{
    color: darkgoldenrod;
    font-family: Papyrus;
    font-weight: bold;
    padding-top: 20px;
}
#descripcion{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#carrusel{
    color: #FFB600;
}


#effect-hover .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

#effect-hover #efecto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: rgba(125, 222, 64, 0.8);
    opacity: 0;
    transition: opacity 2s;
}

#effect-hover .img:hover #efecto {
    opacity: 1;
}

#effect-hover h2 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    transition-duration: 2s;
    margin: 0px;
}

#effect-hover .img:hover h2 {
    top: 50px;
}

#effect-hover p {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    transition-duration: 2s;
}

#effect-hover .img:hover p {
    bottom: 50px;
}
